##  while반복문

In [3]:
treehit = 0
while treehit<10:
    treehit +=1
    print("나무를 %d번 찍었습니다."%treehit)
    if treehit == 10:
        print('나무가 넘어갑니다.')

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무가 넘어갑니다.

In [6]:
prompt = """
1. add
2. del
3. list
4. quit

Enter number: """

In [8]:
number=0
while number != 4:
    print(prompt)
    number= int(input())

1. add
2. del
3. list
4. quit

Enter number:

 1

1. add
2. del
3. list
4. quit

Enter number:

 2

1. add
2. del
3. list
4. quit

Enter number:

 3

1. add
2. del
3. list
4. quit

Enter number:

 4

In [10]:
coffee = 10
money= 300
while money:
    print("돈을 받았으니 커피 한잔")
    coffee-=1
    print('남은 커피%d잔'%coffee)
    if coffee ==0:
        print('판매중지')
        break

돈을 받았으니 커피 한잔
남은 커피9잔
돈을 받았으니 커피 한잔
남은 커피8잔
돈을 받았으니 커피 한잔
남은 커피7잔
돈을 받았으니 커피 한잔
남은 커피6잔
돈을 받았으니 커피 한잔
남은 커피5잔
돈을 받았으니 커피 한잔
남은 커피4잔
돈을 받았으니 커피 한잔
남은 커피3잔
돈을 받았으니 커피 한잔
남은 커피2잔
돈을 받았으니 커피 한잔
남은 커피1잔
돈을 받았으니 커피 한잔
남은 커피0잔
판매중지

In [15]:
coffee = 10

while True:
    money= int(input('돈을 넣어 주제요:'))
    if money==300:
        print("돈을 받았으니 커피 한잔")
        coffee-=1
    elif money>300:
        print("거스름돈 %d을 주고 커피를 줍니다."%(money-300))
        coffee-=1
    else:
        print('돈을 다시 돌려주고 커피를 주지 않습니다.')
        print('남은 커피의 양은 %d개 입니다.'%coffee)
    if coffee ==0:
        print('판매중지')
        break

돈을 넣어 주제요: 400

거스름돈 100을 주고 커피를 줍니다.

돈을 넣어 주제요: 300

돈을 받았으니 커피 한잔

돈을 넣어 주제요: 300

돈을 받았으니 커피 한잔

돈을 넣어 주제요: 300

돈을 받았으니 커피 한잔

돈을 넣어 주제요: 300

돈을 받았으니 커피 한잔

돈을 넣어 주제요: 300

돈을 받았으니 커피 한잔

돈을 넣어 주제요: 300

돈을 받았으니 커피 한잔

돈을 넣어 주제요: 300

돈을 받았으니 커피 한잔

돈을 넣어 주제요: 300

돈을 받았으니 커피 한잔

돈을 넣어 주제요: 300

돈을 받았으니 커피 한잔
판매중지

In [19]:
a = 0
while a<10:
    a += 1
    if a%2==0:continue
    print(a)

1
3
5
7
9

In [2]:
test_list=['one','two','three']

for i in test_list:
    print(i)

one
two
three

In [4]:
a=[(1,2),(3,4),(5,6)]
print(a[2])
print(a[2][0])

(5, 6)
5

In [5]:
for (first,last) in a:
    print(first+last)

3
7
11

In [6]:
for i in a:
    print(i)

(1, 2)
(3, 4)
(5, 6)

In [7]:
marks=[90,25,67,45,80]

number=0
for mark in marks:
    number += 1
    if mark >=60:
        print('%d번 학생은 합격입니다.'%number)
    else:
        print('%d번 학생은 불합격입니다.'%number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [9]:
marks=[90,25,67,45,80]

number=0
for mark in marks:
    number += 1
    if mark >=60:
        print('%d번 학생은 합격입니다.'%number)
    else:
        continue
        print('%d번 학생은 불합격입니다.'%number)

1번 학생은 합격입니다.
3번 학생은 합격입니다.
5번 학생은 합격입니다.

In [13]:
a=range(10)
print(a)
print(type(a))

range(0, 10)
<class 'range'>

In [14]:
a=list(a)
print(a)
print(type(a))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>

In [16]:
a=list(range(1,11))
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
add=0
for i in range(1,11):
    add +=i
    print(add)
print("-"*20)
print(add)

1
3
6
10
15
21
28
36
45
55
--------------------
55

In [26]:
marks=[90,25,67,45,80]


for number in range(len(marks)):
    if marks[number] < 60:
        continue
    print('%d번 학생은 합격입니다.'%(number+1))

1번 학생은 합격입니다.
3번 학생은 합격입니다.
5번 학생은 합격입니다.

In [29]:
for i in range(2,10):
    print("%d단"%i)
    for j in range(1,10):
        print("%d*%d=%d"%(i,j,i*j))
    print("-"*20)

2단
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
--------------------
3단
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
--------------------
4단
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
--------------------
5단
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
--------------------
6단
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
--------------------
7단
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
--------------------
8단
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
--------------------
9단
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
--------------------

In [30]:
a=[1,2,3,4]
result=[]
for num in a:
    result.append(num*3)
print(result)

[3, 6, 9, 12]

In [33]:
a=[1,2,3,4]
result = [num*3 for num in a]
print(result)

[3, 6, 9, 12]

In [34]:
a=[1,2,3,4]
result = [num*3 for num in a if num%2==0]
print(result)

[6, 12]

In [35]:
result=[x*y for x in range(2,10) for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [36]:
n=5
result = [0 for i in range(n)]
print(result)

[0, 0, 0, 0, 0]

In [38]:
result = [i for i in range(n)]
print(result)

[0, 1, 2, 3, 4]

In [39]:
array=list(range(10))
result = [n for n in array]
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
result=[n*n for n in array]
print(result)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [42]:
str_array =['list','comprehension','python']
result= [len(string) for string in str_array]
print(result)

[4, 13, 6]

In [43]:
def mod_5(number):
    return number%5
result=[mod_5(n) for n in array]
print(result)

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [44]:
result =[n for n in range(10) if n%2==0]
print(result)

[0, 2, 4, 6, 8]

In [45]:
result =[n for n in range(10) if n%2!=0]
print(result)

[1, 3, 5, 7, 9]

In [46]:
array=[-1,0,-4,24,5,-10,2]
result = [n for n in array if n>0]
print(result)

[24, 5, 2]

In [47]:
result=[n for n in range(50) if n%3==0 if n%2!=0]
print(result)

[3, 9, 15, 21, 27, 33, 39, 45]

In [48]:
result=[n for n in range(50) if n%3==0 and n%2!=0]
print(result)

[3, 9, 15, 21, 27, 33, 39, 45]