In [2]:
def add(a,b):
    return a+b
a,b=3,4
c= add(a,b)
print(c)
d=add(111,222)
print(d)

7
333

In [4]:
def minus(a,b):
    result=a-b
    return result
a=minus(10,4)
print(a)

6

In [5]:
def say():
    return 'Hi'
print(say())

Hi

In [6]:
def add(x,y):
    print("%d,%d의 합은 %d입니다."%(x,y,x+y))
add(12,24)
a=add(3,4)
print(a)

12,24의 합은 36입니다.
3,4의 합은 7입니다.
None

In [7]:
def say():
    print('Hi')
say()

Hi

In [8]:
def sub(a,b):
    return a-b

result=sub(3,7)
print(result)
result2=sub(b=3,a=7)
print(result2)

-4
4

In [9]:
def add_many(*args):
    result =0
    for i in args:
        result+=i
    return result
res1= add_many(1,2,3,4,5)
print(res1)
res2= add_many(1,2,3,4,5,6,7,8,9,10)
print(res2)

15
55

In [12]:
def add_mul(choice,*args):
    if choice =='add':
        result=0
        for i in args:
            result+=i
    elif choice =='mul':
        result=1
        for i in args:
            result*=i
    return result
res1=add_mul('add',1,2,3)
print(res1)
res2=add_mul('mul',1,2,3)
print(res2)

6
6

In [15]:
def print_kwargs(**kwargs):
    print(kwargs)
print_kwargs(a=1)
print_kwargs(name='foo',age=3)

{'a': 1}
{'name': 'foo', 'age': 3}

In [19]:
def add_and_mul(a,b):
    return a+b,a*b
res = add_and_mul(3,4)
print(res)
res1,res2=add_and_mul(3,4)
print('a+b=',res1)
print("a*b=",res2)

(7, 12)
a+b= 7
a*b= 12

In [20]:
def say_nick(nick):
    if nick=='바보':
        return
    print("나의 별명은 %s 입니다."%nick)
say_nick('야호')

나의 별명은 야호 입니다.

In [26]:
def say_myself(name,age,man=True):
    print(f"나의 이름은 {name}입니다.")
    print(f"나이는 {age}살 입니다.")
    if man:
        print("남자")
    else:
        print("여자")
say_myself("김태훈",18)
say_myself("홍길동",30,False)

나의 이름은 김태훈입니다.
나이는 18살 입니다.
남자
나의 이름은 홍길동입니다.
나이는 30살 입니다.
여자

In [34]:
a=1
def vartest(a):
    a=a+1
    return a
a = vartest(a)
print(a)

2

In [35]:
a=1
def vartest():
    global a
    a+=1
vartest()
print(a)

2

In [36]:
def add(a,b):
    return a+b
print(add(3,4))

7

In [37]:
add=lambda a,b:a+b
print(add(3,4))

7

In [48]:
def factorial(n):
    output =1 
    for i in range(1,n+1):
        output *=i
    return output
print("5!=",factorial(5))

5!= 120

In [40]:
def factorial(n):
    if n==0:
        return 1
    else:
        return n*f01)
print("5!=",factorial(5))

5!= 120

In [45]:
def flatten(data):
    output =[]
    for item in data:
        if type(item)==list:
            output+=item
        else:
            output.append(item)
    return output
example =[[1,2,3],[4,[5,6]],7,[8,9]]
print(len(example))
print('원본 :',example)
print('평탄화 :',flatten(example))

4
원본 : [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]
평탄화 : [1, 2, 3, 4, [5, 6], 7, 8, 9]

In [47]:
def flatten(data):
    output =[]
    for item in data:
        if type(item)==list:
            output+=flatten(item)
        else:
            output.append(item)
    return output
example =[[1,2,3],[4,[5,6]],7,[8,9]]

print('원본 :',example)
print('평탄화 :',flatten(example))

원본 : [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]
평탄화 : [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
output=""
for i in range(10,0,-1):
    for j in range(0,10-i):
        output+=" "
    for k in range(0,2*i-1):
        output+="*"
    output+="\n"
    
print(output)

*******************
 *****************
  ***************
   *************
    ***********
     *********
      *******
       *****
        ***
         *

In [10]:
output=""
for i in range(0,10):
    for j in range(0,i):
        output+="*"
    for k in range(i-1,0,-1):
        output+="*"
    output +="\n"
    
print(output)

*
***
*****
*******
*********
***********
*************
***************
*****************

In [99]:
output=""
for i in range(0,10):
    for j in range(0,i):
        output+="*"
    output +="\n"

    
print(output)

*
**
***
****
*****
******
*******
********
*********

In [1]:
output=""
for i in range(10,0,-1):
    for j in range(0,i):
        output+=" "
    for k in range(0,10-i):
        output+="*"
    output+="\n"
    
print(output)

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********

In [2]:
output=""
for i in range(9,0,-1):
    for j in range(0,9-i):
        output+=" "
    for k in range(0,i):
        output+="*"
    output+="\n"
    
print(output)

*********
 ********
  *******
   ******
    *****
     ****
      ***
       **
        *

In [7]:
output=""
for i in range(0,10):
    for j in range(9,i,-1):
        output+="*"
    output +="\n"

    
print(output)

*********
********
*******
******
*****
****
***
**
*